POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow

AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:change_me@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:change_me@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=generate_with_cryptography_fernet
AIRFLOW__CORE__LOAD_EXAMPLES=False

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=change_me
